<div class="panel panel-red">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list "></i>&nbsp; Bills </h3>
    </div>
    <div class="panel-body ">
        <div print-section>
            <div class="row padding-bottom-25">
                <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                    <!--<h2>मे. रमेशचंद्र हिरालाल झंवर</h2>-->
                    <h1>M/s. Rameshchandra Hiralal Jhawar</h1>
                    <div class="text-right"><strong>245/908 , Adat Bazar, Ahmednagar, Maharashtra, 414001</strong></div>
                    <div class="text-right">
                        <i class="fa fa-mobile" aria-hidden="true"></i> : <strong> 9253380029</strong> &nbsp;
                        <i class="fa fa-phone" aria-hidden="true"></i> : <strong> 0241-2345037  </strong>
                    </div>
                </div>
            </div>
            <div class="row padding-bottom-25 client-info" print-remove>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <h4> <strong>Customer Information</strong></h4>
                    <strong ng-bind="vm.billDetails.customer.name"></strong>
                    <div ng-if="vm.billDetails.customer.address"><span ng-bind="vm.billDetails.customer.address"></span></div>
                    <div ng-if="vm.billDetails.customer.mobileNumber || vm.billDetails.customer.landLineNumber">
                        <i class="fa fa-mobile" aria-hidden="true"></i> : <strong ng-bind="vm.billDetails.customer.mobileNumber ||'-'"></strong>&nbsp;
                        <i class="fa fa-phone" aria-hidden="true"></i> : <strong ng-bind="vm.billDetails.customer.landLineNumber.stdCode +' - '+vm.billDetails.customer.landLineNumber.number"></strong>
                    </div>
                </div>
                <!--<div class="col-lg-6 col-md-6 col-sm-6">
                    <h4> <strong>Payment Details </strong></h4>
                    <b>Bill Amount :  <i class="fa fa-inr"></i>&nbsp;{{vm.billDetails.grandTotal}} </b>
                    <br /> Bill Date : {{vm.billDetails.billDate | date:'dd-MMMM-yyyy'}}
                    <br /> <b>Payment Status :  Paid </b>
                    <br /> <b>Payment Mode :  Cash </b>
                </div>-->
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table print-table="vm.billDetails.billItems" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:20%">Product</th>
                                    <th style="width:15%">Brand</th>
                                    <th style="width:10%">Units</th>
                                    <th style="width:15%">Rate / kg.</th>
                                    <th style="width:20%">Weight (kgs.)</th>
                                    <th style="width:15%">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in vm.billDetails.billItems">
                                    <td ng-bind="$index + 1"></td>
                                    <td ng-bind="item.product.name"></td>
                                    <td ng-bind="item.brand"></td>
                                    <td ng-bind="item.units"></td>
                                    <td ng-bind="item.rate"></td>
                                    <td>
                                        <span class="weight" ng-repeat="weight in item.weights track by $index">
                                            <span ng-bind="weight"></span>
                                        <span ng-if="item.weights.length > 1 && !$last">, </span>
                                        </span>
                                    </td>
                                    <td>
                                        <i class="fa fa-inr"></i>&nbsp;
                                        <label ng-bind="item.total"></label>
                                    </td>
                                </tr>
                                <tr class="success">
                                    <td colspan="6" class="text-right"><label>Sub Total</label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.subTotal"></label></td>
                                </tr>
                                <!--<tr class="warning">
                                    <td colspan="5" class="text-right"><label>Labour Charge </label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.labourCharge"></label></td>
                                </tr>
                                <tr class="warning">
                                    <td colspan="5" class="text-right"><label>Lavy </label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.lavy"></label></td>
                                </tr>
                                <tr class="warning">
                                    <td colspan="5" class="text-right"><label>Transport Charge </label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.transportCharge"></label></td>
                                </tr>
                                <tr class="warning">
                                    <td colspan="5" class="text-right"><label>VAT/CST  </label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.tax"></label></td>
                                </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="width:25%;">Labour Charge</th>
                                    <th style="width:25%;">Lavy</th>
                                    <th style="width:25%;">Transport Charge</th>
                                    <th style="width:25%;">VAT/CST</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="warning">
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.labourCharge"></label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.lavy"></label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.transportCharge"></label></td>
                                    <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.tax"></label></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="ttl-amts">
                <h4> <strong>Bill Amount  : <i class="fa fa-inr"></i>&nbsp;{{vm.billDetails.grandTotal}}</strong> </h4>
            </div>
        </div>
    </div>
    <div class="panel-footer red">
        <span class="">
            <button type="button" class="btn btn-danger" print-btn><i class="fa fa-print"></i>&nbsp; Print</button>
            <button type="button" class="btn btn-default" ng-click="vm.cancelView();"><i class="fa fa-reply"></i>&nbsp; Back</button>
        </span>
    </div>
</div>