<div class="panel panel-green">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list "></i>&nbsp;Products </h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                <!--<h2>Bordered with Striped Rows</h2>-->
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Vendor</th>
                                <th>Created On</th>
                                <th>Modified On</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td colspan="5" class="text-center" ng-if="vm.products.length === 0"><span class="text-danger">No Products Found</span></td>
                            </tr>
                            <tr ng-repeat="product in vm.products track by product._id">                                
                                <td ng-bind="product.name"></td>
                                <td ng-bind="product.vendorName.name"></td>
                                <td ng-bind="product.createdOn | date:'dd-MM-yyyy hh:mm a'"></td>
                                <td ng-bind="product.modifiedOn | date:'dd-MM-yyyy hh:mm a'"></td>
                                <td>
                                    <button type="button" class="btn btn-success btn-circle" ng-click="vm.editProduct(product._id)"><i class="fa fa-pencil-square-o"aria-hidden="true"></i></button>
                                </td>
                            </tr>                             
                        </tbody>
                    </table>
                    <ul uib-pagination class="pull-right red-pagination pagination-sm pagination" total-items="vm.products.length" ng-model="vm.page"
                        previous-text="&lsaquo;" next-text="&rsaquo;" items-per-page="5"></ul>                
                </div>
            </div>

        </div>
    </div>
</div>