<div>
    <span class="text-danger" ng-message="minlength">Minmum allowed characters not entered</span>
    <span class="text-danger" ng-message="maxlength">Maximum allowed characters exceeded.</span>
    <span class="text-danger" ng-message="number">Only number are allowed</span>
    <span class="text-danger" ng-message="min">Value too less</span>
    <span class="text-danger" ng-message="max">Value too more</span>
    <span class="text-danger" ng-message="required">This field is required.</span>
</div>
