<div class="panel-body">
    <div uib-alert ng-repeat="alert in vm.alertService.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.alertService.closeAlert($index)"
        dismiss-on-timeout="2000">{{alert.msg}}</div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group" ng-class="{'has-error':(productForm.productName.$dirty ||productForm.$submitted)&& productForm.productName.$invalid}">
                <label>Product Name</label>
                <input type="text" name="productName" class="form-control" ng-required="true" ng-model="vm.product.name" capitalize/>
                <div ng-messages="(productForm.productName.$dirty ||productForm.$submitted)&& productForm.productName.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group" ng-class="{'has-error':(productForm.productVendor.$dirty ||productForm.$submitted)&& productForm.productVendor.$invalid}">
                <label>Vendor Name</label>
                <input type="text" name="productVendor" ng-model="vm.product.vendorName" placeholder="Type vendor name" typeahead-editable="false" typeahead-select-on-exact="true" uib-typeahead="vendor as vendor.name for vendor in vm.getVendors($viewValue)"
                    typeahead-loading="vm.loading" typeahead-no-results="vm.noResults" class="form-control">
                <i ng-show="vm.loading" class="fa fa-refresh"></i>
                <div ng-show="vm.noResults">
                    <i class="fa fa-remove"></i> No Vendor Found
                </div>
                <div ng-messages="(productForm.productVendor.$dirty ||productForm.$submitted)&& productForm.productVendor.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>