<div class="panel-body">
    <!--<pre> {{vm.billDetails | json}}</pre>-->
    <div uib-alert ng-repeat="alert in vm.alertService.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="vm.alertService.closeAlert($index)"
        dismiss-on-timeout="2000">{{alert.msg}}</div>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group" ng-class="{'has-error':(billForm.customerName.$dirty || billForm.$submitted) && billForm.customerName.$invalid}">
                <label>Customer Name</label>
                <input type="text" name="customerName" typeahead-editable="false" typeahead-select-on-exact="true" ng-required="true" ng-model="vm.billDetails.customer" placeholder="Type Customer name"
                    uib-typeahead="customer as customer.name for customer in vm.getCustomers($viewValue)" typeahead-loading="vm.loading"
                    typeahead-no-results="vm.noResults" class="form-control">                
                <div ng-messages="(billForm.customerName.$dirty || billForm.$submitted)&& billForm.customerName.$error">
                    <div ng-messages-include="error-messages.html"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="form-group" ng-class="{'has-error':(billForm.billDate.$dirty || billForm.$submitted) && billForm.billDate.$invalid}">
                <label>Bill Date</label>
                <p class="input-group">
                    <input type="text" name="billDate" class="form-control" uib-datepicker-popup="{{'dd-MMMM-yyyy'}}" ng-model="vm.billDetails.billDate"
                        is-open="vm.isBillDateOpen" mix-date="vm.today" ng-required="true" ng-readonly="true" close-text="Close"
                    />
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" ng-click="vm.isBillDateOpen = !vm.isBillDateOpen"><i class="fa fa-calendar"></i></button>
                            </span>
                    <div ng-messages="(billForm.billDate.$dirty || billForm.$submitted)&& billForm.billDate.$error">
                        <div ng-messages-include="error-messages.html"></div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th style="width: 150px">Brand</th>
                            <th style="width: 100px">Units</th>
                            <th style="width: 150px">Rate (per kg.)</th>
                            <th style="width: 150px">Weight (in kgs.)</th>
                            <th style="width: 150px">Total</th>
                            <th style="width: 100px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in vm.billDetails.billItems">
                            <td>
                                <div ng-class="{'has-error':(billForm['product'+$index].$dirty || billForm.$submitted)&& billForm['product'+$index].$invalid}">
                                    <input type="text" name="{{'product'+$index}}" ng-model="item.product" placeholder="Type product name" typeahead-editable="false" typeahead-select-on-exact="true" uib-typeahead="product as product.name for product in vm.getProducts($viewValue)"
                                        class="form-control" ng-required="true">
                                </div>
                                <div ng-messages="(billForm['product'+$index].$dirty || billForm.$submitted)&& billForm['product'+$index].$error">
                                    <div ng-messages-include="error-messages.html"></div>
                                </div>
                            </td>
                            <td>
                                <div ng-class="{'has-error':(billForm['brand'+$index].$dirty || billForm.$submitted)&& billForm['brand'+$index].$invalid}">
                                    <input type="text" name="{{'brand'+$index}}" ng-model="item.brand" class="form-control" ng-pattern="/^[a-z A-Z]+$/" capitalize>
                                </div>
                                <div ng-messages="(billForm['brand'+$index].$dirty || billForm.$submitted)&& billForm['brand'+$index].$error">
                                    <div ng-messages-include="error-messages.html"></div>
                                </div>
                            </td>
                            <td>
                                <div ng-class="{'has-error':(billForm['unit'+$index].$dirty || billForm.$submitted)&& billForm['unit'+$index].$invalid}">
                                    <input type="number" class="form-control" name="{{'unit'+$index}}" ng-model="item.units" ng-change="item.units !== undefined && vm.calculate();"
                                        ng-required="true" min="1" max="10" />
                                </div>
                                <div ng-messages="(billForm['unit'+$index].$dirty || billForm.$submitted)&& billForm['unit'+$index].$error">
                                    <div ng-messages-include="error-messages.html"></div>
                                </div>
                            </td>
                            <td>
                                <div ng-class="{'has-error':(billForm['rate'+$index].$dirty || billForm.$submitted)&& billForm['rate'+$index].$invalid}">
                                    <input type="number" class="form-control" name="{{'rate'+$index}}" ng-model="item.rate" ng-change="vm.calculate();" ng-required="true"
                                        min="1" max="999999" />
                                </div>
                                <div ng-messages="(billForm['rate'+$index].$dirty || billForm.$submitted)&& billForm['rate'+$index].$error">
                                    <div ng-messages-include="error-messages.html"></div>
                                </div>
                            </td>
                            <td>
                                <div ng-repeat="weight in item.weights track by $index" class="margin-bottom-10">
                                    <div ng-class="{'has-error':(billForm['weights'+$parent.$index+''+$index].$dirty || billForm.$submitted)&& billForm['weights'+$parent.$index+''+$index].$invalid}">
                                        <p class="input-group">
                                            <input type="number" name="{{'weights'+$parent.$index+''+$index}}" class="form-control" ng-model="item.weights[$index]" ng-change="vm.calculate();"
                                                ng-required="true" min="1" max="1000" />
                                            <span class="input-group-btn" ng-if="item.units && item.units > 1">
                                                <button type="button" class="btn btn-danger" tooltip-placement="right" uib-tooltip="Add another weight" ng-click="vm.addNewWeightRow(item);"
                                                    ng-if="item.units > item.weights.length && $last">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                                <button type="button" class="btn  btn-danger" tooltip-placement="right" uib-tooltip="Remove weight" ng-click="vm.removeWeightRow(item,$index);vm.calculate();"
                                                    ng-if="!$last">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </button>
                                            </span>
                                        </p>
                                    </div>
                                    <div ng-messages="(billForm['weights'+$parent.$index+''+$index].$dirty || billForm.$submitted)&& billForm['weights'+$parent.$index+''+$index].$error">
                                        <div ng-messages-include="error-messages.html"></div>
                                    </div>
                                </div>
                            </td>

                            <td>
                                <i class="fa fa-inr"></i>&nbsp;
                                <label ng-bind="item.total"></label>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" uib-tooltip="Add Row" ng-click="vm.addNewRow();" ng-if="$last">
                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                <button type="button" class="btn btn-danger" uib-tooltip="Remove Row" ng-click="vm.removeRow($index);vm.calculate();" ng-if="vm.billDetails.billItems.length >1">
                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                        </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right"><label>Labour Charge</label></td>
                            <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.labourCharge"></label></td>
                            <td class="text-right"><label>Lavy</label></td>
                            <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.lavy"></label></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5" class="text-right"><label>Grant total</label></td>
                            <td><i class="fa fa-inr"></i>&nbsp;<label ng-bind="vm.billDetails.grandTotal"></label></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>